@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100%; */
}

body{
  background: #e6ecf0;
  font-family: 'Roboto',"Helvetica Nue","Helvetica", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility ;

}

div#content{
  max-width: 1100px;
  margin: 0 auto;

}

